/* src/App.css */
body {
  background-color: #121212;
  color: rgb(206, 71, 71);
  font-family: Arial, sans-serif;
  background-image: url("./components/ama.avif");
}

form {
  margin: 20px 0;
}

input, select {
  margin: 5px;
  padding: 10px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

h2 {
  margin-top: 20px;
}
